@import "../globals.scss";


.statsBanner {
    display: flex;

    @media(max-width: 1096px) {
        flex-direction: column;
    }
}

.leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .statsTitle {
        margin-bottom: 1rem;
    }

    .statsText {
        margin-bottom: 2rem;
    }
}

.statPoints {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: $white;

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        align-items: center;

        @media(max-width: 479px) {
            font-size: 1rem;
            height: fit-content;
        }
    }

    i {
        background-color: $purple-main;
        width: 50px;
        height: 50px;
        @include flex-center;
        font-size: 1.5rem;
        border-radius: 15px;
        margin-right: 1rem;
    }

    @media(max-width: 1096px) {
        margin-bottom: 4rem;
    }
}

.rightContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        position: absolute;
        top: 0;

        @media(max-width: 1096px) {
            width: 70%;
            position: relative;
        }

        @media(max-width: 762px) {
            width: 100%;
        }
    }
}
